// src/styles/_variables.scss
$primary-color: #3658BF;
$secondary-color: #DB3097;
$text-color: #3658BF; //linear-gradient(90deg, rgba(67,159,255,1) 0%, rgba(211,117,255,1) 54%, rgba(255,145,211,1) 100%)
$background-color: #C5DBFF;
$header-footer-bg: #ffffff;